.poets-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    margin: 30px;
}

.poet-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
